body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #FBFBFB;
    float:right;
    width:100%;
    height:100%;
    display:block;
}
.container {
    width: 100%;
}
.nav-tabs {
    background-color: #333;
    margin-top: 20px;
    height: 55px;
    /* box-shadow: 0px 2px 4px 1px rgb(222, 220, 220); */
    /* border-bottom: 2px solid #E3DFDF; */
    margin-left: -1px;
}
.navbar-default {
    height: 150px;
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 0px solid #939393;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
     color: #449D44;
    background-color : #32BD32;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
     color: #449D44;
    /**background-color: #32BD32;*/
    border: 0px solid #fff;
    box-shadow: 0px 0px 0px 0px #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #32BD32;
}
.nav {
    padding-left: 14%;
    margin-bottom: 0px;
    list-style: outside none none;
    padding-top: 0.4%;
}
.navbar-brand {
    font-size:40px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 6%;
    margin-top: 1%;
}
.navbar-right {
    float: right !important;
    margin-right: 3%;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
        min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid #32BD32;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    /* color: #32BD32; */
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #32BD32;
}
.container1 {
    background-color: #CECECE;
    padding-top: 50px;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #CECECE;
    box-shadow: 0px 1px 1px 1px #CECECE;
    border-top: 1px solid #CECECE;
}
a {
    color: #32BD32;
    text-decoration: none;
    font-size:1.3em
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgb(50, 189, 50);
    border: 1px 1px 1px 1px solid #449D44;
    box-shadow: 0px 0px 5px 1px #32BD32;
}
a:focus, a:hover {
    color: #fff;
    text-decoration: underline;
}

.nav-tabs {
    background-color: #333;
    margin-top: 20px;
    height: 55px;
    /* box-shadow: 0px 2px 4px 1px rgb(222, 220, 220); */
    /* border-bottom: 2px solid #E3DFDF; */
    margin-left: -1px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.82857143;
    height: 50px;
    margin-top: -4px;
    padding-top: -px;
    border: 0px solid;
    border-radius: 0px;
    color: #32bd32;
}
.nav-tabs>li>a:hover {
   
    color: #333;
    font-weight:600;
}
.nav-tabs>li>a:focus {
   
    color: #333;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #32BD32;
    border-color: #449D44;
}
.col-md-4 {
    width: 33.3333%;
    border-left: 2px solid #BDC5C4;
}
.panel {
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 4%;
}

.panel-body {
    padding: 15px;
    height: 220px;
    background-color: #FBFBFB;
    border-bottom: 1px solid #939393;
    border-right: 1px solid #939393;
    border-top: 1px solid #939393;
    border-left: 1px solid #939393;
    border-radius:4px;
    /* width: 300px; */
}
hr {
    border:.5px solid #dcdcdc;
}
.pbody {
    padding: 15px;
    height: 1300px;
    background-color: #FBFBFB;
    /* border-bottom: 1px solid #939393; */
    /* border-right: 1px solid #939393; */
    /* width: 300px; */
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #32BD32;
    border-radius: 10px;
    width: 20%;
}
.jumbotron {
    padding-top: 30px;
    color: inherit; 
    background-color: inherit;
    height: 1000px;
}
.col-md-3 {
    width: 26%;
    margin-top: 0%;
    margin-left: .5%;
    border: 1px solid #e5e5e5;
    height: 20%;
    box-shadow: 12px 0 15px -4px rgba(217, 217, 217, 0.8), -12px 0 8px -4px rgba(217, 217, 217, 0.8);
    background-color: #f3f3f3;
}
.col-md-6 {
    width: 35%;
    height: 100%;
    margin-left: 31%;
}


.col-md-2 {
    width: 19.66666667%;
    border-right: 1px solid #939393;
    height: 560px;
    margin-right: 1%;
    margin-top: 2%;
}
.btnLL {
    display: inline-block;
    /* padding: 6px 12px; */
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 0.1000;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 5px;
    height: 3%;
    width: 17%;
    padding-left: 8.5px;
}
input[type="file"] {
    padding: 4px 5px;
    background-color: #32BD32;
    background-image: none;
    border: 1px solid #449D44;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 250px;
    padding-top: 7px;
    margin-left: 50px;
    height: 35px;
    /* padding-right: 2%; */
}
img#impPrev {
    font-family: inherit;
    font-size: 14px;
    line-height: inherit;
    margin-left: 80px;
    margin-top: 1%;
}
img {
    vertical-align: middle;
    margin-left: 20px;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 2px 4px 1px #E5E5E5;
}
.modal-body {
    position: relative;
    padding: 15px;
    height: 400px;
}

input[type="submit"].bt {
    display: inline-block;
    padding: 1px 13px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 5%;
    -moz-user-select: none;
    background-color: #32bd32;
    border: 1px solid#449d44;
    border-radius: 4px;
    height: 38px;
    height: 32px;
    margin-left: 70%;
    width: 20%;
    color: white;
}
.btn-primary {
    color: #fff;
    background-color: #32BD32;
    border-color: #449D44;
}
.btn-primary:hover {
    color: #FFF;
    background-color: #449d44;
    border-color: #449d44;
}
input[type="submit"].btn11 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 249px;
    -moz-user-select: none;
    background-color: #32bd32;
    border: 1px solid#449d44;
    border-radius: 4px;
    height: 38px;
    height: 35px;
    margin-left: -1px;
    width: 10%;
}
img {
    vertical-align: middle;
    margin-left: 20px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 4px 1px #e5e5e5;
}
.list-group label {

    color:#32bd32;
    font-size:1.3em;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 0px;
    background-color: inherit;
    border: 0px solid #DDD;
    font-size: 1.3em;
    width: 90%;
    margin-left: 3%;
    margin-top: -2%;
}
.col-md-6 ul label {
    display: inline-block;
    max-width: 100%;
    /* font-weight: 700; */
    font-size: 1.7em;
    color: #32BD32;
    margin-top: 4%;
    color: #32bd32;
    margin-left: -97%;
}
.colm {
    background-color: #333;
    margin-left: -2%;
    margin-right: -2%;
    margin-top: 3%;
    height: 91%;
}
.headd {
    margin: 6%;
    font-size: 1.5em;
    margin-top: 4%;
    margin-left: 3%;
    border-bottom: 1px solid #e5e5e5;
    width: 94%;
    padding-bottom: 1%;
}
.Earn {
}
hr {
    border: .5px solid #dcdcdc;
    margin-bottom: 16%;
}
legend a {
    display:inline;
}
.col-lg-10 {
    width: 100%;
    background-color: black;
    height: 150px;
}
.col-lg-10 .inside {
    color: #32bd32;
    font-size: 12px;
    padding-top: 4%;
    padding-left: 43%;
    font-weight: 700;
}
.col-lg-10 a {
    color: #fff;
    font-size: 12px;
    padding-left: 47%;
    font-weight: 700;
    text-decoration:none;
}
.bottom a:hover {
    color: #fff;
    font-size: 12px;
    padding-left: 47%;
    font-weight: 700;
    text-decoration:none;
}
.bottom a:focus {
    color: #fff;
    font-size: 12px;
    padding-left: 47%;
    font-weight: 700;
    text-decoration:none;
}
