@model StudentHelpp.Models.Student

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_ChangePassword.cshtml";
}
     <link href="~/CSS/ChkQuest.css" rel="stylesheet" />

      <h1 id="Ch" style="display:block;">Want to change  Password ??  </h1>
      <p id="Help" style="display:block;" class="helpyou"> We will help you !!!  </p>
      <p id="Success" style="display:none;" class="helpyou"> Your Password has been Updated !!!  </p>

        <div id="colmd7" class="col-md-7">
 
            <div id="PrevPwd"  class="editor-field">
                <label class="email-label2">
                    <i class="fa fa-key"></i>
                    <input id="PrevPwdd" type="password" name="PrevPassword" class="email2" placeholder="Previous Password here..." />
                </label>
                
            </div>
            <span id="PrevPassword_E" style="color:red; font-weight:600;"></span>
          
            <div id="Pwd" class="editor-field">
                <label class="email-label2">
                    <i class="fa fa-key"></i>
                    <input id="Pwdd" type="password" name="Password" class="email2" placeholder="New Password here..." />
                </label>
                
            </div>
            <span id="Password_E" style="color:red; font-weight:600;"></span>

            <div id="C_Pwd" class="editor-field">
                <label class="email-label2">
                    <i class="fa fa-key"></i>
                    <input id =" C_Pwdd" type="password" name="ConfirmPassword" class="email2" placeholder="Re-Enter New Password here..." />
                </label>
                
            </div>
 
            <span id="Confirm_E" style="color:red; font-weight:600;"></span>

         <input id="ChPwd" type="submit" value="Update Password"  class="btn1 btn1-cc" >    
     </div>

<script>
    var colmd7 = document.getElementById('colmd7');
    var Ch = document.getElementById('Ch');
    var Help = document.getElementById('Help');


    $(document).ready(function () {

        $('#ChPwd').click(function () {
            debugger;
            var PrevPwdd = document.getElementById('PrevPwdd').value;
            var Pwdd = document.getElementById('Pwdd').value;
            var C_Pwdd = document.getElementById('C_Pwdd').value;

            if (PrevPwdd == "")
            {
                $('#PrevPassword_E').text("InValid Password");
            }
            else if (Pwdd == "")
            {
                $('#Password_E').text("InValid Password");
            }
            else if (Pwdd.length < 8)
            {
                $('#Password_E').text("Passworh length should be 8 character");
            }
            else if (C_Pwdd == "") {
                $('#Password_E').text("InValid Password");
            }
            else if (Password == C_Password) {
                $('#Confirm_E').text("Password dose not match");
            }
            else {
                $.ajax({
                    type: 'POST',
                    data: { PrevPassword: PrevPwdd, Passsword: Pwdd, C_Password: C_Pwdd },
                    url: '@Url.Action("ChangePassword", "STLogIn")',
                    success: function (result) {
                        if (result) {
                            colmd7.style.display = none;
                            success.style.display = block;
                        }
                        else {
                            $('#PrevPassword_E').text("InValid Previous Password");
                        }
                    },
                    error: function () {
                        window.location.replace("@Url.Action("ForGetPassword","STLogIn")");
                    }
                });
            }
        });
    });
</script>