@using System;
<!doctype html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>Gigagit PopOver Plugin Demo</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <style>
        body { font-family:'roboto', sans-serif; background-color:#ECF0F1; padding:2em;}
        </style>
        <link href="~/CSS/ggpopover.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-2.1.4.js"></script>
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/ggpopover.js"></script>
    </head>
    <body>
      
        <h1>Gigagit PopOver Plugin Demo</h1>
        <img class="img-circle" id="image11" data-toggle="popover"
                data-placement="auto top"
                data-arrowcolor="#2ECC71"
                data-bordercolor="#16A085"
                data-title-backcolor="#1ABC9C"
                data-title-bordercolor="#27AE60"
                data-title-textcolor="#fff"
                data-content-backcolor="#2ECC71"
                data-content-textcolor="#fff"
                title="Popover title"
                data-content="@ViewData["avc"]+@ViewData["af"]"
             src="~/images/no-user-image-square.jpg"  />

        <script type="text/javascript">
            $(document).ready(function () {
                    $('[data-toggle="popover"]').ggpopover();
            });
        </script>
    </body>
</html>

